{% extends '_layout.html' %}

{% block title %}Roccer | Login{% endblock %}

{% block body %}


{% for message in get_flashed_messages() %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  
{% endfor %}

<h2>login</h2>
<!--- TODO: redesign this -->
<form action="/login" method="post">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" id="username" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
  </form>
{% endblock %}
