{% extends '_layout.html' %}

{% block title %}Roccer | Account Creation{% endblock %}

{% block style %}
<style>
  body {
    background-color: #DBE0E5;
  }
</style>
{% endblock %}

{% block body %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<div class="col-md-8" style="width: 775px; margin: auto;">
  <div class="card mb-3 mt-4">
    <div class="card-body">
      <h1>Register Now!</h1>
      <form action="/register" method="post" enctype="multipart/form-data">
        <div class="form-group pt-2">
          <label for="firstname">First Name</label>
          <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Enter First name"
            required>
        </div>
        <div class="form-group pt-2">
          <label for="lastname">Last Name</label>
          <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Enter Last name" required>
        </div>
        <div class="form-group pt-2">
          <label for="username">Username (Letters and numbers only)</label>
          <input type="username" class="form-control" name="username" id="username" pattern="[a-zA-Z0-9-]+"
            placeholder="Enter Username" required>
        </div>
        <div class="form-group pt-2">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password"
            required>
        </div>
        <div class="form-group pt-2">
          <label for="password2">Reenter Password</label>
          <input type="password" class="form-control" name="password2" id="password2" placeholder="Reenter Password"
            required>
        </div>

        <div class="form-group pt-2">
          <label for="profile">Profile Picture</label>
          <input type="file" name="profile" class="form-control" accept=".jpg, .jpeg, .gif, .png" required>
        </div>
        <div class="pt-2">
          <button type="submit" class="btn btn-primary">Create Account</button>
        </div>
      </form>
      <p class="pt-1">Already have an account? <a href="/login_page">Login now!</a></p>
    </div>
  </div>
</div>
{% endblock %}